<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />

  <!--公共库MySqlHelper使用的连接-->
  <!-- <add name="MySqlHelperConnectionString" connectionString="server=192.168.1.88;port=33060;User Id=bohan;password=bohan;Persist Security Info=True;database=bookdinner" /> -->
  <add name="MySqlHelperConnectionString" connectionString="server=127.0.0.1;port=33060;User Id=root;password=southinfo@best1;Persist Security Info=True;database=bookdinner" />
</connectionStrings>

